@import '../../styles/settings';

:host {
  display: block;
  margin-top: $nav-bar-height;
  height: calc(100vh - #{$nav-bar-height});
  width: calc(100vw - #{$side-bar-width});

  margin-left: $side-bar-width;

  overflow: auto;

  -webkit-transition: margin-left .75s, width .75s; /* Safari */
  transition: margin-left .75s, width .75s;

  &.sidebar-closed {
    margin-left: 0px;
    width: 100%;
  }
}

/* Safari 4.0 - 8.0 */

