.container
  .row
    .col-xs-12.col-md-8.col-md-push-2
      h1.text-center LOGIN
      form(#form='ngForm')
        inputs__email(    [(ngModel)]='formModel.email'   , name='email'   )
        inputs__password( [(ngModel)]='formModel.password', name='password')

        button.btn-block.btn-lg.btn-primary.btn(
          type="submit",
          (click)="onFormSubmit()"
        ) LOG IN

      div.errors(*ngIf="errors.email || errors.password")
        div(*ngIf="errors.email",    [innerHtml]="errors.email[0]") 
        div(*ngIf="errors.password", [innerHtml]="errors.password[0]")