@import '../../../styles/variables';

:host {
  display: block;
  background: $marine-blue;
  width: 100%;
  min-height: 100vh;
  color: $marine-white;

  .errors {
  	padding: 10px;
  	color: red;
  	background: #efefef;
  	margin-top: 10px;
  }
}
