<div class="form-group">
  label {{ label }}
  input.form-control(
    [(ngModel)]        = "value",
    [disabled]         = "disabled",
    [type]             = 'type || "text"',
    [attr.inspectable] = 'inspectable',
    [placeholder]      = 'placeholder || name || label',
    [ngClass]          = "{'inspectletIgnore': !inspectable}",
    (keypress)         = "onKeyPress($event)",
    (blur)             = "_focused = false;onTouchedCallback()",
    (focus)            = "_focused = true;onFocus($event)"
  )
</div>
