ul.nav
  span(*ngFor="let nav_group of nav_config")
    li.nav-title {{ nav_group.section_title }}
    span(*ngFor="let nav_item of nav_group.section_items")

      //- IF NAV_LINK
      nav__item(
        *ngIf="nav_item.type === 'nav_link'",
        [path]="nav_item.path",
        [icon]="nav_item.icon_class",
      ) {{ nav_item.link_name }}

      //- IF NAV_DROPDOWN
      nav__dropdown(
        *ngIf="nav_item.type === 'nav_dropdown'",
        [title]="nav_item.link_name",
        [icon]="nav_item.icon_class"
      )
        span(*ngFor="let dropdown_item of nav_item.dropdown_items")
          nav__item(
            *ngIf="dropdown_item.type === 'nav_link'",
            [path]="dropdown_item.path",
            [icon]="dropdown_item.icon_class",
          ) {{ dropdown_item.link_name }}

