$simple-line-font-path: "../assets/fonts/" !default;

$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

$nav-button-color: #00838F;

$marine-blue: #2a2c36;
$marine-white: #FFF;
$marine-dark: #2a2c36;
