@import '../../styles/settings';
@import '../../../../styles/variables';

:host {
  display: block;
  height: calc(100vh - #{$nav-bar-height});
  width: $side-bar-width;
  float: left;
  background: $marine-dark;
  color: $marine-white;

  position: fixed;
  left: 0px;
  -webkit-transition: left .75s; /* Safari */
  transition: left .75s;

  overflow: auto;

  padding-bottom: 40px;
  &.closed {
    left: -$side-bar-width;

  }
}
