:host {

  > .nav-item > .nav-link {
    transition: background .5s;
  }
  background: transparent;
  a.nav-link {
    cursor: pointer;
  }
  &.open > .nav-item > .nav-link {
    background: rgba(248, 108, 107, .2)!important;
  }
  &.open ul {
    max-height: 500px;
    /deep/ li.nav-item .nav-link.active::after {
      background: #f86c6b!important;
    }
  }
  &.open a::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  ul {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    -webkit-transition: max-height .3s ease-in-out;
    transition: max-height .3s ease-in-out;

    /deep/ li.nav-item {
      position: relative;
      margin: 0;
      -webkit-transition: background .3s ease-in-out;
      transition: background .3s ease-in-out;
      .nav-link {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          height: 10px;
          border-radius: 50%;
          background: rgba(255,255,255,0.1);
        }
      }
    }
  }
  /deep/ &.open ul li.nav-item {
    color: #fff;
    border-left: 0!important;
  }
}
