:host {
  display: block;
  height: 200px;
  padding-bottom: 10px;
  text-align: center;
  background: rgba(0,0,0,.2);
  &.animated { opacity: 0; }
  > img {
    width: 80px;
    margin: 20px auto 10px;
    border-radius: 50em;
  }
  .btn-link {
    color: #d1d4d7;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 8px 16px;
    cursor: pointer;
  }
}
