img.avatar.animate(
  (load)="onImageLoaded()",
  alt="Avatar",
  [src]="loginService.userData.profile_img_url"
)
div
  strong {{loginService.userData.first_name + ' ' + loginService.userData.last_name}} 
.text-muted
  small Admin
.btn-group
  button.btn.btn-link
    i.icon-settings
  button.btn.btn-link
    i.icon-home
  button.btn.btn-link((click)="loginService.logoutUser()")
    i.icon-logout
