@import '../styles/variables';
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap-sprockets";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "node_modules/simple-line-icons/scss/simple-line-icons";


html, body{
  //height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {

}

a { color: #20a8d8; }
a.active {
  background-color: gray;
}
.mt-0 { margin-top: 0 !important; }
.mt-1 { margin-top: 1rem !important; }
.mb-0 { margin-bottom: 0 !important; }
.mb-1 { margin-bottom: 1rem !important; }
.b-r-1 { border-right: 1px solid #d1d4d7!important; }
.text-muted { color: #d1d4d7 !important; }

.h4, h4 { font-size: 1.5rem; }

small { font-size: 80%; }
.fadeIn {
  opacity: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}


/*ELEM*/
.nav-title {
  padding: .75rem 1rem;
  font-size: 11px;
  font-weight: 600;
  color: #d1d4d7;
  text-transform: uppercase;
}

.sidebar ul.nav li.nav-item.nav-dropdown.open>a.nav-link.nav-dropdown-toggle:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
a.nav-link.nav-dropdown-toggle:before {
    position: absolute;
    top: .96875rem;
    right: 1rem;
    display: block;
    width: .875rem;
    height: .875rem;
    padding: 0;
    font-size: .875rem;
    line-height: .65625rem;
    text-align: center;
    content: "\2039";
    -webkit-transition: .3s;
    transition: .3s;
}
