:host {
  .tabs {
    .tab {
      display: inline-block;
      padding: 5px 10px;
      border: 1px solid;
      cursor: pointer;
      &.active {
        background: black;
        color: white;
      }
    }
  }
  .content {
    /deep/ .tab[hide="true"] { display: none; }
  }
}
