:host {
  .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    > li {
      &:before { color: #fff; }
      &.active { color: #9fa1a3; }
      > * {text-transform: capitalize !important; }
    }
  }
}
