@mixin -card-group {
  @media (min-width: 576px) {
    .card-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        > .card {
          -webkit-box-flex: 1;
          -ms-flex: 1 0 0px;
          flex: 1 0 0;
        }
    }
  }

  .card-group {

    > .card {
      margin-bottom: 1.5rem;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid #d1d4d7;
      > .card-block {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        .progress-xs {
            height: 4px;
        }
      }
    }
  }
}
:host {
  @include -card-group;
}
