elem__card(title="Title", subtitle="Subtitle").text-center
  .row
    .col-md-3 content
    .col-md-3 content
    .col-md-3 content
    .col-md-3 content

//- .card-group
//-   .card
//-     .card-block
//-       .h1.text-muted.text-right.mb-2
//-         i.glyphicon.glyphicon-plus
//-       .h4.mb-0 87.500
//-       small.text-muted.text-uppercase.font-weight-bold Visitors
//-       .progress.progress-xs.mt-1.mb-0
//-         .progress-bar.bg-info(aria-valuemax='100', aria-valuemin='0', aria-valuenow='25', role='progressbar', style='width: 25%')
