:host {
  .nav-item {
    position: relative;
    margin: 0;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    i {
      display: inline-block;
      margin-top: -4px;
      vertical-align: middle;
      width: 20px;
      margin: 0 .5rem 0 0;
      font-size: 14px;
      color: #d1d4d7;
      text-align: center;
    }
    > a {
      &.nav-link {
        display: block;
        padding: .75rem 1rem;
        color: #fff;
        text-decoration: none;
        display: block;
        &:hover {
          color: #fff!important;
          background: #1f2028!important;
        }
        &.active {
          color: #fff;
          background: #1f2028;
        }
      }
    }
  }
}
