:host {
  margin-bottom: 1.5rem;

  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #d1d4d7;

  .card-footer, .card-header {
    padding: .75rem 1.25rem;
    background-color: #f8f9fa;
    text-align: left !important;
  }
  .card-block {
    padding: 1.25rem;
    /deep/ img, iframe, video { max-width: 100%; }
  }

}
