@import '../../../../styles/variables';
@import '../../styles/settings';

:host {
  display: block;
  height: $nav-bar-height;
  background-color: #fff;
  border-bottom: 1px solid #d1d4d7;
  color: $marine-dark;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #d1d4d7;
  @media (min-width: 992px) {
    .hidden-lg-up {
        display: none!important;
    }
  }
  @media (max-width: 991px) {
    .navbar-toggler {
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: inherit;
      color: #d1d4d7;
    }
    .hidden-md-down {
      display: none!important;
    }
  }

  .navbar-toggler {
    align-self: flex-start;
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
  }
  .navbar-brand {
    display: inline-block;
    width: 200px;
    margin-right: 0;
    padding: .5rem 1rem;
    background-image: url(http://www.google.com/logos/doodles/2015/googles-new-logo-5078286822539264.3-hp2x.gif);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 80px auto;
    height: 55px;
    background-color: #fff;
    border-bottom: 1px solid #d1d4d7;
    @media (max-width: 991px) {
      width: 100%!important;
      margin: 0 auto!important;
    }
  }
  .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    height: 55px;

    li {
      position: relative;
      min-width: 50px;
      margin: 0!important;
      text-align: center;
      a {
        color: #d1d4d7;
      }
    }

  }
}
