button.navbar-toggler.mobile-sidebar-toggler.hidden-lg-up(
  (click)="toggleSidebar()",
  type='button'
) ☰
a.navbar-brand()
ul.nav.navbar-nav.hidden-md-down.b-r-1
  li.nav-item
    a.navbar-toggler.sidebar-toggler(
      (click)="toggleSidebar()"
    ) ☰
